#container_products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.container_cart{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.container_item{
    width: 300px;
    box-shadow: 2px 3px 1px rgba(203, 198, 198, 0.44);
}
.btn_cart{
    background-color: red;
    border-radius: 15px;
    padding: 5px 20px;
    color: white;
    text-transform: uppercase;
    border: none;
}


@media (width < 500px){
    .container_item{
        width: 90%;
    }
}
